body {
    font-size: 62.5%;
    margin: 0px;
}


.header {
    background-image: linear-gradient(to right, rgb(177, 177, 177), rgb(228, 200, 190));
    background-position:left;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerHome {
    background-image: linear-gradient(to right, rgb(177, 177, 177), rgb(228, 200, 190));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.headerContactos {
    background-image: linear-gradient(to right, rgb(177, 177, 177), rgb(228, 200, 190));
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.logoHeader {
    margin-right: auto;
    width: 120px;
}

.navMenu{
    position: absolute;
    display: inline-block;
    text-align: right;
}

.navMenu ul{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.navMenu ul li{
    display: inline-block;
    margin: 0px;
}


.bodyHome{
    background-image: url(../multimedia/banner.jpg);
    background-position: center;
}

.footer {
    background-color: rgba(26, 25, 25, 0.7);
    color: white;
    margin: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}


.copyright {
    font-size: 20px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
} 

.redes img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.sectionHome {
    text-align: center;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: 'Dancing Script', cursive;
    margin-bottom: 150px;
    margin-top: 150px;
}

.imagen1Servicios {
    width: 400px;
    height: 400px;
}

.servicios1 {
    display: flex;
}

.listaHome {
    list-style-type: none;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

.descripcionServicios {
    font-size: 30px;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}


.titulos {
    font-size: 50px;
    text-align: center;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

.tituloContacto {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

.Galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.Galeria img{
    width: 300px;
    height: 250px;
    margin-top: 20px;
}


.bodyGaleria {
    background-color: rgb(228, 200, 190);
    font-family: 'Dancing Script', cursive;
}

.imgMenu{
    width: 120px;
    height: 120px; 
    display: none;
}

.bodyServicios {
    background-color: rgb(228, 200, 190);
    font-family: 'Dancing Script', cursive;
}

.bodyQuienes {
   background-color: rgb(228, 200, 190);
   font-family: 'Dancing Script', cursive;
}

.bodyContactos {
    background-image: url(../multimedia/fondo-contactos.jpg);
    background-position: center;
    font-family: 'Dancing Script', cursive;
}

.contactanos {
    color: bisque;
}

.formularioContacto{
    text-align: center;
    width: 300px;
    margin: auto;
    font-size:20px;
    text-align: center;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear
}

.textoFormulario {
    color: aliceblue;
}

input, textarea {
    width: 100%;
}


@keyframes aparecer {
	0%{
		opacity: 0%;
	     }
	25%{
		opacity: 25%;
	     }
	75% {
		opacity: 75%;
	       }
	100% {
		opacity: 100%;
	       }

}

@media screen and (max-width: 830px) {
    .header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-end;
    }
    .imgMenu{
        display: inline-flex;
        position: absolute;
        left: 10px;
        margin: auto;
    }
    .navMenu{
       display: none;
    }
    
    .logoHeader{
        margin: 0;
    }

  }

  @media screen and (max-width: 600px) {
    .Galeria img {
        width: 100%;
    }
  }



  
